$basic-margin: 8px;
$basic-padding: 8px;

$text-size: 1rem;
$text-size-header1: 1.7rem;
$text-size-header2: 1.25rem;

$text-color-gray: var(--ant-layout-header-color);
$background-color: var(--ant-layout-light-sider-bg);
$grey: #606060;
$border-color: var(--ant-color-border);
$error-red: #cf1322;

$blue-color: #40A9FF;
$blue-light: #E6F7FF;
$text-color-blue: #1890FF;

$blue-color-2: #bae0ff;
