@import "src/constants/style/styleConst";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  line-height: 18px;
  box-sizing: border-box;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $basic-margin;
    font-family: 'PT Sans', sans-serif;

    &__project-version {
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__text {
    font-size: 19px;
    font-weight: 600;
    padding-left: 28px;
    width: 100%;
    -webkit-font-smoothing: antialiased;
  }

  &__text-closed {
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
  }
;
}
