@use "src/constants/style/styleConst" as *;

.permission-list {
  .ant-descriptions-item-label {
    font-size: $text-size-header2;
  }

  ul, li {
    list-style-position: inside
  }

  li {
    font-size: $text-size;
    margin-bottom: $basic-margin * 1.5;
  }
}
