@use "src/constants/style/styleConst" as *;

.token-content {
  overflow-x: auto;
  width: 100%;
  &__table {
    overflow-x: auto;
    height: calc(100vh - 100px);
  }

  &__wrap {
    padding: $basic-padding*1.25 $basic-padding*3;
  }

  &__header {
    display: flex;
    position: relative;
    margin-bottom: $basic-margin * 4;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 19px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-family: PT Sans, sans-serif;
      font-weight: 500;
    }
  }

  .copy-btn {
    cursor: pointer;
  }
}

.empty-data__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  .search-app-by-token {
    margin: 10px 24px 8px auto;
  }
}
