@use "../../constants/style/styleConst" as *;

.access-list-tree {
  overflow-y: auto;
  height: calc(100vh - 100px);

  &__span {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  &__inner-tag {
    margin-left: $basic-margin;
  }
}
