@import "src/constants/style/styleConst";

*, html {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.app{
  overflow: hidden;
  height: 100vh;
  min-height: 0;
  min-width: 500px;
}

.ant-btn:focus-visible{
  outline: none !important;
}
