.swagger-page {
  height: calc(100vh - 100px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__toolbar {
    padding: 12px 16px;
    border-bottom: 1px solid var(--ant-color-border);
  }

  &__content {
    flex: 1;
    min-height: 0;
    display: flex;
  }

  &__content .swagger-ui {
    flex: 1;
    overflow-y: auto;

    ul {
      margin-left: 1.5em;
      padding-left: 1.5em;
    }

    ol {
      margin-left: 1.5em;
      padding-left: 1.5em;
    }
  }
}
