.swagger-page {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  width: 100%;

  &__loader,
  &__no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__no-data {
    color: var(--ant-color-text-secondary);
    font-size: 16px;
  }

  &__content {
    flex: 1;
    min-height: 0;
    overflow-y: auto;

    a[href='https://redocly.com/redoc/'] {
      display: none !important;
    }
  }

  &--dark .redoc-wrap {
    li.react-tabs__tab--selected {
      background-color: transparent;
    }

    h5, h5 > span {
      color: white;
    }
  }
}