@use "../../constants/style/styleConst" as *;

.roles-page {
  height: 100%;
  display: flex;

  .role-item {
    &__id {
      color: $grey;
    }
  }

  &__content {
    overflow-x: auto;
    width: 100%
  }
}
