@import "../../constants/style/styleConst";

.configuration-editor-page {
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none;
  border-left: 1px solid $border-color;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 80px;

  .ant-tabs-nav {
    width: 250px;

    .ant-tabs-tab-btn {
      text-align: left;
      white-space: normal;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .react-json-view {
    margin: $basic-margin *3 0 $basic-margin *2 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $basic-padding *2 $basic-padding;
    border-bottom: 1px solid $border-color;
  }

  &__controll {
    display: flex;
  }

  &__save-btn {
    width: auto;
    margin-left: $basic-margin;
  }

  &__content {
    padding: $basic-padding * 3 $basic-padding;
  }

  .rjsf {
    display: flex;

    .form-group {
      width: 100%;
    }

    .ant-form-item-label {
      text-align: start;
      max-width: 100%;
      text-overflow: ellipsis;

      label {
        display: inline;
      }
    }

    .ant-tabs-right {
      width: 100%;
      justify-content: space-between;
    }

    .ant-col-8 .ant-form-item-label {
      margin-right: $basic-margin *2;
    }

    .ant-form-item-row {
      flex-direction: column;
    }

    .collapseArray_item_content {
      width: 100%;
      
      .ant-btn {
        position: relative;
        top: 10px;
      }
    }

    .ant-collapse-header {
      align-items: center;
      padding: 4px 11px;

      .ant-collapse-header-text {
        display: inline;
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .ant-btn {
          top: 0;
        }
      }
    }

    .collapseArray_item {
      display: flex;
      width: 100%;
      margin-bottom: 24px;

      .ant-form-item {
        height: 100%;
        align-items: baseline;
        align-content: end;
        margin: 0;
      }

      .anticon-delete {
        margin-left: auto;
        padding-left: 8px;
      }
    }

    .ant-col-sm-16 {
      max-width: 100%;
    }

    .ant-col .ant-form-item-control {
      max-width: 100%;
    }

    .ant-form-item-control-input-content {
      width: 100%;
      max-width: 100%;
      flex: auto;

      .ant-collapse {
        border-radius: 6px;
      }
    }

    .flex-space-between {
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;

      &__plus {
        margin-left: 8px;
      }
    }
    .collapseArray_item {
      align-items: center;
    }
  }

  .collapse {
    .configEditor_collapseObject {
      border-radius: 6px;
      .ant-row {
        display: grid;

        grid-template-columns: minmax(0, 30%) minmax(0, 70%) auto;
        .ant-col {
          height: 100%;
          align-content: center;
          padding-bottom: 5px;

          .ant-form-item {
            height: 100%;
            align-items: baseline;
            align-content: end;
            margin: 0;
          }
        }
      }
      .ant-form-item-row {
        display: flex;
      }
    }
  }

  .ant-btn-group {
    margin-top: 40px;
  }

  .ant-row .ant-row-end {
    width: 60px;
    margin: 0 0 $basic-margin auto !important;
  }

  &__form {
    padding: $basic-padding;
  }

  .modal__wrap {
    min-height: 110px;
  }

  .confirm-btn {
    width: auto;
    min-width: 190px;
  }

  .error-data {
    color: red;
    font-size: 16px;
  }
}